$ff_base: "PT Sans", Arial, sans-serif;

$c_base: #81b3d2;
$c_white: #ffffff;
$c_black: #000000;
$c_gray: #333333;
$bg_gray: #eeeeee;

$mobile-width: ~"(max-width: 767px)";
$tablet-width: ~"(min-width: 768px)";
$desctop-width: ~"(min-width: 1200px)";

