
body {
  margin: 0;
  font-family: $ff_base;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  position: relative;
}

.sprite-svg {
  display: none;
}
