.content {

  &__welcome {
    margin-bottom: 30px;

    @media #{$tablet-width} {
      margin-bottom: 40px;
    }

    img {
      width: 100%;
      height: 390px;
      margin-top: -35px;

      @media #{$tablet-width} {
        height: 520px;
        margin-top: 5px;
      }
      @media #{$desctop-width} {
        max-width: 1200px;
        height: 518px;
      }
    }
  }

  &__mini-welcome {
    margin-bottom: 30px;

    @media #{$tablet-width} {
      margin-bottom: 65px;
    }

    @media #{$desctop-width} {
      margin-bottom: 102px;
    }
    img {
      width: 100%;
      height: 158px;
      margin-top: -36px;

      @media #{$tablet-width} {
        height: 290px;
        margin-top: 4px;
      }
      @media #{$desctop-width} {
        width: 1200px;
        height: 302px;
      }
    }
  }
}
