.gallery {
  @include container-fluid;
  margin: 20px;

  @media #{$tablet-width} {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__item {
    margin-bottom: 16px;
    text-align: left;

    @media #{$tablet-width} {
      width: 50%;
      margin-bottom: 0;
      @include flex-column;
    }

    @media #{$desctop-width} {
      width: calc(100% / 3);
      position: relative;
    }

    &--photo {
      width: 100%;
    }
  }

  &__image {
    padding-top: 22px;
    border-top: 1px solid #e5e5e5;

    @media #{$tablet-width} {
      padding-top: 0;
      border-top: none;
    }

    img {
      width: 100%;
      height: 280px;
      margin-bottom: 5px;

      @media #{$tablet-width} {
        height: 268px;
      }
      @media #{$desctop-width} {
        margin-bottom: -8px;
      }
    }
  }

  &__image--height {

    img {
      @media #{$tablet-width} {
        height: 400px;
      }
    }
  }
  &__item-info {
    box-sizing: border-box;

    @media #{$tablet-width} {
      @include flex-column;
      background-color: #f2f2f2;
    }

    @media #{$desctop-width} {
      width: 100%;
      position: absolute;
      bottom: 0;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px;
      background: rgba(0, 0, 0, 0.3);
      z-index: 10;
    }
  }

  &__item-signature {
    @media #{$desctop-width} {
    }
  }

  &__discription {
    font-weight: 700;

    @media #{$desctop-width} {
      color: $c_white;
    }
  }

  &__author {
    margin-bottom: 5px;
    text-transform: none;
    color: $c_gray;

    @media #{$desctop-width} {
      color: $c_white;
    }
  }

  &__like {
    font-weight: 700;
    margin-left: 37px;
    text-decoration: none;
    color: $c_black;

    @media #{$tablet-width} {
      margin-top: 13px;
    }

    @media #{$desctop-width} {
      color: $c_white;
    }
  }
}
