.interested {
  margin: 20px;

  &__title {
    font-size: 21px;
    line-height: 26px;
  }

  p {
    color: $c_gray;
    line-height: 24px;
  }

  &__motel {
    font-size: 21px;
    line-height: 26px;
    background-color: $c_base;

    a {
      @include tdn;
      color: $c_white;
    }
  }

  &__map {

  }
}
