.interested {
  margin: 29px 20px;

  @media #{$tablet-width} {
    width: 60%;
    margin: 0 auto;
    margin-top: 55px;
  }

  @media #{$tablet-width} {
    width: 38%;
  }

  &__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 19px;

    @media #{$tablet-width} {
      font-size: 30px;
      margin-bottom: 32px;
    }
  }

  &__text {
    color: $c_gray;
    line-height: 24px;
  }

  &__motel {
    margin-top: 35px;
    font-size: 21px;
    background-color: $c_base;

    @media #{$tablet-width} {
      margin-top: 41px;
}

    a {
      display: block;
      padding: 16px 41px;
      @include tdn;
      color: $c_white;
    }
  }
}
