.interested {
  margin: 29px 20px;

  &__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 19px;
  }

  &__text {
    color: $c_gray;
    line-height: 24px;
  }

  &__motel {
    margin-top: 35px;
    font-size: 21px;
    background-color: $c_base;

    a {
      display: block;
      padding: 16px 41px;
      @include tdn;
      font-weight: 700;
      color: $c_white;
    }

    a:hover {
      background-color: #669ec0;
    }

    a:active {
      background-color: #5496bd;
      color: $c_white;
      opacity: 0.3;
    }

    a:disabled {
      background-color: #e5e5e5;
    }
  }
}

@media #{$tablet-width} {
  .interested {
    width: 60%;
    margin: 0 auto;
    margin-top: 55px;

    &__title {
      font-size: 30px;
      margin-bottom: 32px;
    }

    &__text {
      margin-bottom: 40px;
    }

    &_motel {
    }
  }
}

@media #{$desctop-width} {
  .interested {
    width: 38%;

    &__text {
      margin-bottom: 45px;
    }
  }
}
