.intro {
  margin-bottom: 30px;

  @media #{$tablet-width} {
    margin-bottom: 50px;
  }

  &--hide {

  }

  &__title {
    width: 260px;
    font-size: 18px;
    margin: 0 auto;
    /*margin-left: 30px;*/
    margin-bottom: 26px;

    @media #{$tablet-width} {
      font-size: 21px;
      width: 445px;
    }
  }

  &__text {
    margin-left: 20px;
    margin-right: 20px;
    color: $c_gray;
  }
}
