.intro {
  position: relative;
  width: 80%;
  margin-top: 9px;
  margin-bottom: 45px;
  @include container-fluid;

  &--hide {
    margin-bottom: 27px;
  }

  &__title {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 26px;
  }

  &__text {
    margin-left: 20px;
    margin-right: 20px;
    color: $c_gray;

    &--lineh {
      line-height: 24px;
    }
  }
}

@media #{$tablet-width} {
  .intro {
    margin-top: 50px;
    margin-bottom: 53px;

    &--hide {
      margin-top: 78px;
      margin-bottom: 68px;
    }

    &--margin {
      margin-top: 78px;
      margin-bottom: 75px;
    }

    &__title {
      width: 445px;
      font-size: 21px;

      &--fsize {
        font-size: 30px;
        margin-bottom: 31px;
      }
    }

    &__text {
      margin: 0 auto;

      &--lineh {
        width: 81%;
      }
    }
  }
}

@media #{$desctop-width} {
  .intro {

    &--hide {
      margin-top: 115px;
      margin-bottom: 70px;
    }

    &--margin {
      margin-top: 115px;
      margin-bottom: 98px;
    }

    &__text {

      &--lineh {
        width: 41%;
      }
    }
  }
}
