.main-nav{
  position: relative;
  width: auto;
  background-color: $c_base;

  @media #{$tablet-width} {
    background-color: $c_white;
  }
  &__wrapper{

    @media #{$tablet-width} {
    @include container-fluid;
    }

    &--close{
    }
  }

  &__items{
    @include list-clear;
    @include flex-column;

    @media #{$tablet-width} {
      flex-direction: row;
    }
  }

  &__item{
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;

    @media #{$tablet-width} {
      width: 20%;
      &:nth-child(2) {
        margin-right: auto;
      }
    }
    @media #{$desctop-width} {
      margin-left: 0;
    }

    a {
      display: block;
      padding: 7px;
      color: $c_white;
      @include tdn;
      border-top: 1px solid #9ac2db;
      border-bottom: 1px solid #678fa8;

      @media #{$tablet-width} {
        font-size: 14px;
        line-height: 26px;
        padding: 13px;
        color: $c_black;
        border-top: none;
        border-bottom: none;
      }
    }
      @media #{$desctop-width} {
        font-size: 14px;
        line-height: 26px;
        color: $c_black;
      }
  }
  &__toggle{
    position: absolute;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    cursor: pointer;

    @media #{$tablet-width} {
      display: none;
    }

    &--close:before {
      content: "";
      position: absolute;
      bottom: 10px;
      right: 20px;
      width: 23px;
      height: 4px;
      background-color: $c_base;
      box-shadow: 0 8px 0 0 $c_base,
                  0 16px 0 0 $c_base;
    }
    &--open {
      top: 0;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 17px;
        width: 27px;
        height: 4px;
        background-color: #ffffff;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
        }
    }
  }
}

