.map {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 38px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &:after {
    content: "";
    position: absolute;
    top: 47%;
    left: 47%;
    width: 27px;
    height: 27px;
    background: url(../img/icons/icon-map-marker.svg) center no-repeat;
    background-size: 27px auto;
  }
}

@media #{$tablet-width} {
  .map {
    margin-top: 66px;
    margin-bottom: 35px;

    &:after {
      left: 49%;
    }
  }
}
