@media #{$mobile-width} {
  .modal-send {
    display: none;
  }
}

@media #{$tablet-width} {
  .modal-send {
    @include modal;
    width: 640px;
    height: 350px;
    margin-left: -320px;
    margin-top: -175px;
    display: none;

    &__title {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
    }

    p {
      width: 65%;
      margin-bottom: 30px;
      line-height: 24px;
      color: $c_gray;
    }

    .btn {
      width: 460px;
      @include btn;
    }
  }
}

@media #{$desctop-width} {
  .modal-send {
    top: 107%;
  }
}
