.page-header{
  position: relative;

  &__logo{

    @media #{$tablet-width} {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
  }

    img {
      width: 103px;
      height: 83px;
    }
  }
}
