.page-header{
  position: relative;
  z-index: 10;

  &__logo{
    width: 102px;
    margin: 0 auto;
    display: block;

    @media #{$tablet-width} {
      width: auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
  }

    img {
      max-width: 100%;
      height: auto;
      display: block;

      @media #{$desctop-width} {
        width: 187px;
        height: 97px;
      }
    }
  }
}
