.page-footer {

  &__wrapper {

    @media #{$tablet-width} {
      width: 648px;
      display: flex;
      justify-content: space-around;
      margin: 20px auto;
    }
    @media #{$desctop-width} {
      width: 960px;
    }
  }

  &__visit {
    @include tdn;
    font-size: 21px;
    line-height: 26px;
    color: $c_black;
  }

  &__social {

  }

  &__copyright {

  }
}
