.page-footer {
  margin-bottom: 20px;
  @include container-fluid;

  &__visit {
    padding: 10px;
    @include tdn;
    font-size: 21px;
    font-weight: 700;
    color: $c_black;
  }

  &__social {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  &__copyright {
    position: relative;
    margin-right: 45px;
    line-height: 40px;
  }

  &__copyright:after {
    content: "";
    position: absolute;
    top: 0;
    right: 19%;
    width: 27px;
    height: 35px;
    background: url("../../img/logo-htmlacademy.svg") center no-repeat;
    background-size: 27px auto;
  }
}

@media #{$tablet-width} {
  .page-footer {

    &__wrapper {
      padding: 0 6.5%;
      display: flex;
      justify-content: space-between;
    }

    &__social {
      margin-top: 0;
    }

    &__copyright {
      padding-top: 5px;
      padding-right: 50px;
      margin-right: 0;
    }

    &__copyright:after {
      top: 10%;
      right: 6%;
    }
  }
}

@media #{$desctop-width} {
  .page-footer {

    &__wrapper {
      padding: 0 10%;
    }
  }
}
