.page-header{
  position: relative;

  &__logo{

    @media #{$tablet-width} {
      position: absolute;
      top: 0;
      right: 43%;

    @media #{$desctop-width} {
      right: 46%;
    }
  }

    img {
      width: 105px;
      height: 85px;
    }
  }
}
