.page-footer {
  @include container-fluid;

  &__wrapper {

    @media #{$tablet-width} {
      outline: 1px solid black;
      margin: 0 auto;
      padding-left: 35px;
      padding-right: 77px;
      display: flex;
      justify-content: space-between;
    }
/*???*/
    @media #{$desctop-width} {
      width: 86%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__visit {
    padding-top: 10px;
    @include tdn;
    font-size: 21px;
    font-weight: 700;
    color: $c_black;
  }

  &__social {
    margin-top: 35px;
    margin-bottom: 45px;

    @media #{$tablet-width} {
      margin-top: 0;
}

    .social-links {
      display: flex;
      justify-content: center;

      &__common {
        width: 46px;
        height: 48px;
        margin-right: 5px;
        outline: 1px solid black;
      }
    }
  }

  &__copyright {
    @media #{$tablet-width} {
      padding-top: 10px;
    }
  }
}
