.reasons {
  display: flex;
  @include container-fluid;

  @media #{$mobile-width} {
    flex-direction: column;
  }

  @media #{$tablet-width} {
    flex-wrap: wrap;
  }
  &__wrapper {

    @media #{$tablet-width} {
      display: flex;
    }
    &--transfer{
      @media #{$tablet-width} {
        flex-wrap: wrap;
      }
    }
    &--width {
      @media #{$tablet-width} {
        /*width: calc(100% / 3);*/
      }
    }
  }
  &__item {
    padding-bottom: 35px;
    padding-top: 57px;
    background-color: $c_base;
    color: $c_white;

    @media #{$tablet-width} {
      width: calc(100% / 3);
      padding-top: 45px;
    }

    &--dif {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 19px;
      background-color: $bg_gray;
      color: $c_black;
      border-top: 1px solid #d6d6d6;

      @media #{$tablet-width} {
        padding-bottom: 60px;
      }
    }

    p {
      width: 87%;
      margin: 0 auto;

      @media #{$tablet-width} {
        width: 66%;
      }
    }
}
    &__item--order {
    @media #{$tablet-width} {
      order: 2;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 8px;

    @media #{$tablet-width} {
      width: 50%;
      margin: 8px auto;
      font-size: 21px;
      line-height: 26px;
    }
}
  &__number {
    margin-bottom: 10px;

    @media #{$tablet-width} {
      margin-bottom: 15px;
}
}
  &__image {
    height: 260px;

    @media #{$tablet-width} {
      width: 66%;
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
}
  &__lists {
    outline: 1px solid black;
    position: relative;
    @include list-clear;
    text-align: left;
    padding-bottom: 35px;

    @media #{$tablet-width} {
      display: flex;
      padding-top: 120px;
      padding-bottom: 55px;
      text-align: center;
    }
    @media #{$desctop-width} {
      padding-bottom: 85px;
    }
  }
  &__list {
    outline: 1px solid black;
    margin-top: 26px;
    padding-left: 70px;
    padding-top: 5px;

    @media #{$tablet-width} {
      width: 33.3%;
      padding-left: 0;

      &--order {
        order: 3;
      }
    }
    b {
      font-size: 18px;

      @media #{$tablet-width} {
        font-size: 21px;
      }
    }
  }
  &__list-text {
    margin-top: 13px;
    line-height: 21px;
    color: $c_gray;

    @media #{$tablet-width} {
      width: 66%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}
